* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

.bubble{
	background-color: #fc0;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
transform: translateX(-50%);
transform: translateY(100%);
}